
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 40px;
    top: 0%;
    margin: auto;
    background-color: #617ced;
}

#status {
    top: 20%;
    right: 5%;
    left: 94%;
    position: relative;
    color: blue;
}

.userMenu {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 35px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    display: inline-block;
}

.user_dropdown {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0.5%;
    margin-top: 5px;
}

    .user_dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .user_dropdown a:hover {
            background-color: #ddd;
        }

.show {
    display: block;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: .50rem .25rem;
    width: 13%;
    background-color: #accefa;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid rgba(0,0,0,.125);
}

.nav li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
}

.nav a.active {
    color: black;
}

.nav a:hover:not(.active) {
    background-color: skyblue;
    color: white;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a {
    width: 70%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 13.5%;
}

.tabContent {
    display: none;
}

.contentNav {
    width: 100%;
    height: 40px;
    left: auto;
    border-bottom: 1px black thin;
    position: relative;
    -webkit-box-shadow: 0 4px 8px -8px #222;
    -moz-box-shadow: 0 4px 8px -8px #222;
    box-shadow: 0 4px 8px -8px #222;
}

#navHeader {
    color: skyblue;
    float: left;
    padding-top: 5px;
    padding-left: 25px;
    margin: 0%;
    font-size: 30px;
}

.date {
    color: skyblue;
    float: right;
    padding-top: 15px;
    padding-right: 20px;
    margin: 0%;
}

.box_tb {
    width: 20%;
    height: 180px;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    margin: 35px;
    float: left;
}

.box_info {
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    height: 80%;
}

#number {
    text-align: right;
    font-size: 70px;
    color: white;
    padding-right: 20px;
    margin: 0%;
    padding-top: 10px;
}

#label {
    text-align: right;
    font-size: 20px;
    color: white;
    padding-right: 20px;
    margin: 0%;
    padding-top: 20px;
}

#acc_label {
    text-align: left;
    font-size: 30px;
    color: black;
    padding-left: 20px;
    margin: 0%;
    padding-top: 10px;
}

#acc_search, #merch_search, #stock_search, #supp_search, #ap_search, #ar_search, #cus_search {
    width: 14%;
    font-size: 12px;
    height: 1%;
    float: right;
    border: black solid 1px;
    outline: none;
    position: relative;
    top: 20px;
}

#stock_switch {
    background-color: #749EFF;
    color: white;
    border: 1px solid darkblue;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: fixed;
    top: 120px;
    right: 90px;
}

.accbtn {
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #749EFF;
    position: relative;
    margin-top: -14.5%;
    margin-left: 2.5%;
}

.add_supp_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: inline-block;
}

.jrnbtn {
    background-color: #84CC07;
    color: white;
    border: 2px solid #84CC07;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 0%;
}

.invbtn {
    background-color: #84CC07;
    color: white;
    border: 2px solid #84CC07;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 0%;
}

.btn {
    background-color: #749EFF;
    color: white;
    border: 1px solid darkblue;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    margin-top: 14.5%;
    margin-right: 2.5%;
}

    .btn:hover, .btn.active, #stock_switch:hover, #stock_switch.active {
        background-color: skyblue;
        color: white;
    }

table, td, th {
    border: 1px solid black;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    overflow-y: auto; /* Trigger vertical scroll    */
    overflow-x: hidden;
}

td {
    height: 40px !important;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr {
    font-size: 15px;
    text-align: center;
}

    tr:hover {
        background-color: #D6EEEE;
    }

.journal_buttons button {
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #749EFF;
}

    .journal_buttons button:hover, .journal_buttons button.active {
        background-color: #749EFF;
        color: white;
    }

.financial_buttons button {
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #749EFF;
}

    .financial_buttons button:hover, .financial_buttons button.active {
        background-color: #749EFF;
        color: white;
    }

.tab_tb {
    width: 100%;
    display: none;
}

.account_frame, .inventory_frame, .financial_frame, .journal_frame {
    width: 95%;
    position: relative;
    margin: auto;
}

.inventory_buttons, .financial_buttons, .journal_buttons {
    padding-top: 20px;
    margin: auto;
}
<<<<<<< HEAD
.inventory_buttons button {
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #749EFF;
}
=======

    .inventory_buttons button {
        border: none;
        padding: 10px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #749EFF;
    }
>>>>>>> de212bd72e83e30c8a4c537c8291590df0fe2b92

.add_acc {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: inline-block;
}

.inventory_buttons button:hover, .inventory_buttons button.active {
    background-color: #749EFF;
    color: white;
}

select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

    select::-ms-expand {
        display: none;
    }

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    overflow: hidden;
}

th p {
    color: red;
    padding-bottom: 5px;
}

td {
    font-size: 20px;
    text-align: center;
}

#tr_bold {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: deepskyblue;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: deepskyblue;
    color: white;
}

.container {
    padding: 16px;
    background-color: white;
}

input[type=text], input[type=number], input[type=date], input[type=password], select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus, select:focus {
        background-color: #ddd;
        outline: none;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    display: inline-block;
    right: 0%;
}

    .registerbtn:hover {
        opacity: 1;
    }

.add_entry {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    display: inline-block;
    margin-left: 3%;
}

.remove_entry {
    background-color: #04AA6D;
    color: white;
    padding: 16px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-right: 7%;
    margin-left: 2%;
    opacity: 0.9;
    display: inline-block;
}

a {
    color: dodgerblue;
}

i {
    cursor: pointer;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.adminregbtn {
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #749EFF;
    position: relative;
    margin-top: -160px;
    margin-left: 0%;
}

.reg_admin_acc {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: inline-block;
<<<<<<< HEAD

}
=======
}

>>>>>>> de212bd72e83e30c8a4c537c8291590df0fe2b92
#admin_1, #admin_2, #admin_3, #admin_4 {
    display: none;
}

#admin_4 {
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #749EFF;
    position: relative;
    top: -42px;
    left: 450px;
<<<<<<< HEAD
}
=======
}
>>>>>>> de212bd72e83e30c8a4c537c8291590df0fe2b92
